# Ignore API credential configuration files
.env
.cache

# Ignore local SQLite databases and large PyTorch weight binaries
*.db
*.pth

# Ignore Python cache folder structures
__pycache__/
.pytest_cache/